:root {
    --main-color: #A95E13;
    --other-color: #ff6347;
    --black: #000000;
    --bg: #cf720891;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 15+px;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Gloria Hallelujah", cursive;


}

body {
    background-color: var(--bg);
    
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--main-color);
    
    
    
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1rem 5%;
    padding: 1rem 5% ;
    
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--black);

}

.navbar a:hover {
    color: #ffffff;
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    
    
}

.icons img{
    margin: 1rem;
    cursor: pointer;
    border-bottom: var(--border);
}

.icons img:hover{
    width: 40px;
    height: 40px;
    
    
    }

.btn {
    background: var(--bg);
    color: var(--black);
    padding: 1rem 3rem;
    display: inline-flex;
    font-size:1rem;
    cursor: pointer;    
    margin-top: 1rem; 

   
}    

.btn:hover{

    letter-spacing: 0.1rem;
    padding-bottom: 0.5rem;
    

}
.home-container {
    background: url("./img/coffee-cup.jpg");
    background-position: center;
    background-size: cover;
}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}


.content {
    max-width: 150rem;
}
.content h3 {
    color: #000000;
    font-size: 2rem;
}

.content p { 
    color: #080808;
    font-size: 1.5rem;
    font-weight: 100;
    line-height:1.8;
    padding: 1rem 0;
    
    
}
.title {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    


}
.title span{
    color:var(--black);
    text-align:center;
    flex-direction: column;

}

.tipos .row{
    display: inline-block;
  align-items:center;
  gap: 1.5rem;
  
  
}

.tipos .row .content{
    padding:  2rem;
    

}
.tipos .row .sabores h3{
    
    font-size: 2rem;
    display: inline-flex;
    text-align: center;
    padding: 5rem  4rem ;
    
}

.menu .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding-right: 8rem;
    padding-left: 2rem;
}

.menu .box-container .box{
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}


.menu .box-container .box .img{
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 1rem 0;
}
.menu .box-container.box h3{
    font-size: 2rem;
    color:var(--black);
    text-align:center;
    padding: 1rem;

}
.menu .box-container .box .price{   
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.5 0;
    
}
.menu .box-container .box .price span{
    font-size: 1rem;
    text-decoration: line-through;
    font-weight: 100;

}

.address{
    display: flex;
    align-items: center;
    flex-direction: column;
}